.bodyCont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell{
    display: flex;
    flex-direction: row;
    width: 1.5rem;
    height: 1.5rem;
    background-color: whitesmoke;
    border: solid black 1px;
    padding:0;
    margin:0;

}
.cell:hover{
    background-color: khaki;
}
.rowCont{
    display: flex;
    flex-direction: row;
    flex:1;
}
.shipDisplayCont{
 }
.shipBox{
    border: dotted 1px grey;
    background-color: khaki;
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ship{
    height: 1.8rem;
    width: 3.8rem;
    background-color: brown;
}


